<!-- Filtro -->
<div style="display: flex; justify-content: flex-end; align-items: center; margin-bottom: 20px;" *ngIf="getShowFilter()">
  <mat-form-field style="flex-grow: 1; max-width: 400px; min-width: 250px; padding: 0; margin-right: 16px;">
    <input matInput [(ngModel)]="filtro" placeholder="Pesquisar" style="font-size: 14px; padding: 8px;" />
    <button mat-icon-button *ngIf="filtro" matSuffix (click)="clearFilter()" style="transition: background-color 0.3s ease;">
      <mat-icon>clear</mat-icon>
    </button>
    <button mat-icon-button matSuffix (click)="applyFilter()" style="border-radius: 20px; margin-left: 8px; transition: background-color 0.3s ease;">
      <mat-icon>filter_list</mat-icon>
    </button>
  </mat-form-field>
</div>

<!-- Botão Incluir -->
<div *ngIf="getShowActions()" style="display: flex; justify-content: flex-end; margin-bottom: 20px;">
  <button mat-raised-button
          style="background-color: #0288d1; color: white; font-weight: bold; border-radius: 8px; padding: 10px 20px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); transition: all 0.3s ease;"
          (click)="incluir()"
          *ngIf="permissionConfig.HAS_PERMISSION_CREATE">
    Incluir
  </button>
</div>

<!-- Tabela Responsiva -->
<table mat-table [dataSource]="dataSource" matSort (matSortChange)="listarDados()" style="width: 100%; border-spacing: 0; border-collapse: collapse; table-layout: fixed;" class="mat-elevation-z5">

  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef
        style="text-align: center; background-color: #4CAF50; color: white; padding: 14px 12px; font-weight: bold; border-bottom: 2px solid #ffffff; text-transform: uppercase;">
      {{ columnNamesMapping[column] }}
    </th>
    <td mat-cell *matCellDef="let element"
        style="text-align: center; padding: 12px 10px; border-bottom: 1px solid #e0e0e0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
      {{ element[column] }}
    </td>
  </ng-container>

  <ng-container matColumnDef="acao" *ngIf="getShowActions()">
    <th mat-header-cell *matHeaderCellDef
        style="text-align: center; background-color: #4CAF50; color: white; padding: 12px; border-bottom: 2px solid #ffffff; font-weight: bold;">
      Ação
    </th>
    <td mat-cell *matCellDef="let element"
        style="display: flex; justify-content: center; align-items: center; gap: 12px; padding: 10px; border-bottom: 1px solid #e0f2f1;">
      <!-- Botões de Ação -->
      <button mat-fab (click)="editar(element)"
              style="background-color: #0288d1; color: white; border-radius: 50%; width: 42px; height: 42px; display: flex; justify-content: center; align-items: center; padding: 0; transition: background-color 0.3s ease;"
              *ngIf="permissionConfig.HAS_PERMISSION_UPDATE">
        <mat-icon style="font-size: 20px;">edit</mat-icon>
      </button>

      <button mat-fab (click)="excluir(element)"
              style="background-color: #d32f2f; color:white; border-radius: 50%; width: 42px; height: 42px; display: flex; justify-content: center; align-items: center; padding: 0; transition: background-color 0.3s ease;"
              *ngIf="permissionConfig.HAS_PERMISSION_DELETE">
        <mat-icon style="font-size: 20px;">delete</mat-icon>
      </button>

      <button mat-fab (click)="exportarPdf(element.id)"
              style="background-color: #00796b; color:white; border-radius: 50%; width: 42px; height: 42px; display: flex; justify-content: center; align-items: center; padding: 0; transition: background-color 0.3s ease;"
              *ngIf="getShowExportPdf()">
        <mat-icon style="font-size: 20px;">picture_as_pdf</mat-icon>
      </button>

      <button mat-fab  (click)="View(element)"  style="background-color: #00796b; color:white; border-radius: 50%; width: 42px; height: 42px; display: flex; justify-content: center; align-items: center; padding: 0; transition: background-color 0.3s ease;">
        <mat-icon>remove_red_eye</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns.concat(getShowActions() ? ['acao'] : [])"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns.concat(getShowActions() ? ['acao'] : []);"></tr>
</table>

<!-- Paginação -->
<mat-paginator [pageSize]="pageSize"
               [length]="dataSource.paginator?.length"
               [pageIndex]="dataSource.paginator?.pageIndex"
               [pageSizeOptions]="[5, 10, 25, 100]"
               showFirstLastButtons
               (page)="onPageChange($event)"
               style="margin-top: 20px;">
</mat-paginator>

<simple-notifications></simple-notifications>
