<h1 mat-dialog-title>Editar Postagem</h1>
<div mat-dialog-content>
  <form [formGroup]="editPostForm">
    <!-- Exibição de imagens -->
    <div *ngIf="data?.images?.length > 0" class="image-container">
      <div *ngFor="let image of data.images" class="image-item">
        <img src="{{'data:image/jpg;base64,' + image.image}}" alt="Image" class="image" />
      </div>
    </div>

    <!-- Título -->
    <div *ngIf="permissionConfig.HAS_PERMISSION_UPDATE; else titleView">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Título</mat-label>
        <input matInput formControlName="title" placeholder="Digite o título da postagem">
      </mat-form-field>
    </div>
    <ng-template #titleView>
      <h1>{{ editPostForm.get('title')?.value || 'Sem título' }}</h1>
    </ng-template>

    <!-- Subtítulo -->
    <div *ngIf="permissionConfig.HAS_PERMISSION_UPDATE; else subtitleView">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Subtítulo</mat-label>
        <input matInput formControlName="subtitle" placeholder="Digite o subtítulo">
      </mat-form-field>
    </div>
    <ng-template #subtitleView>
      <h2>{{ editPostForm.get('subtitle')?.value || 'Sem subtítulo' }}</h2>
    </ng-template>

    <!-- Conteúdo -->
    <div *ngIf="permissionConfig.HAS_PERMISSION_UPDATE; else contentView">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Conteúdo</mat-label>
        <textarea matInput formControlName="content" rows="4" placeholder="Digite o conteúdo"></textarea>
      </mat-form-field>
    </div>
    <ng-template #contentView>
      <p>{{ editPostForm.get('content')?.value || 'Sem conteúdo' }}</p>
    </ng-template>

    <!-- Tag -->
    <div *ngIf="permissionConfig.HAS_PERMISSION_UPDATE">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Tag</mat-label>
        <input matInput formControlName="tag" placeholder="Digite uma tag">
      </mat-form-field>
    </div>

    <!-- Ativo -->
    <div class="form-row" *ngIf="permissionConfig.HAS_PERMISSION_UPDATE">
      <mat-slide-toggle formControlName="approval">
        Ativo
      </mat-slide-toggle>
    </div>

    <!-- Escolher arquivo -->
    <div class="upload-container" *ngIf="permissionConfig.HAS_PERMISSION_UPDATE">
      <button mat-raised-button color="primary" (click)="fileInput.click()">
        Escolher Novo Arquivo
      </button>
      <input
        #fileInput
        type="file"
        (change)="onFileSelected($event)"
        accept="image/*"
        hidden
      />
    </div>
  </form>
</div>

<div mat-dialog-actions align="end" *ngIf="permissionConfig.HAS_PERMISSION_UPDATE">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!editPostForm.valid"
    (click)="onSubmit()">
    Salvar
  </button>
</div>
