<div *ngIf="showLayout()">
  <mat-toolbar class="mat-elevation-z3">
    <button mat-icon-button (click)="collapsed.set(!collapsed())">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <img src="assets/logo.png" class="img-logo">
    <span class="example-spacer"></span>

    <!-- Ícone "person" com menu -->
    <button mat-icon-button [matMenuTriggerFor]="personMenu">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>

  <!-- Definição do menu -->
  <mat-menu #personMenu="matMenu">
    <button mat-menu-item routerLink='/auth/login'>Login</button>
    <button mat-menu-item>Sair</button>
  </mat-menu>

  <mat-sidenav-container>
    <mat-sidenav opened mode="side" [style.width]="sidenavWidth()" >
      <app-sidnav [collapsed]="collapsed()"></app-sidnav>
    </mat-sidenav>
    <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div *ngIf="!showLayout()" style="  overflow: hidden;">
  <router-outlet></router-outlet>
</div>
