<mat-card class="post-card">
  <mat-card-header>
    <div mat-card-avatar class="author-avatar"></div>
    <mat-card-title>{{ post.title }}</mat-card-title>
    <mat-card-subtitle>by {{ post.author }} - {{ post.date | date:'mediumDate' }}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image [src]="post.imageUrl" alt="{{ post.title }}">

  <mat-card-content>
    <p>{{ post.content }}</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button  style="background-color: #1976D2; color: white; justify-content: end; border-radius: 20px" *ngIf="permissionConfig.HAS_PERMISSION_UPDATE"><mat-icon>edit</mat-icon></button>
    <button mat-raised-button  style="background-color: #D32F2F; color:white; justify-content: flex-end; border-radius: 20px" *ngIf="permissionConfig.HAS_PERMISSION_DELETE"><mat-icon>delete</mat-icon></button>
  </mat-card-actions>
</mat-card>
