<div class="add-post-button">
  <button
    mat-raised-button
    color="primary"
    (click)="openAddPostDialog()">
    <mat-icon>add</mat-icon> Nova Postagem
  </button>
</div>

<div class="post-container">
  <mat-card class="post-card" *ngFor="let post of posts">
    <mat-card-header>
      <div mat-card-avatar class="author-avatar"></div>
      <mat-card-title>{{ post.title }}</mat-card-title>
      <mat-card-subtitle>
        {{ post.subtitle }} - Publicado em: {{ post.publicationDate | date: 'mediumDate' }}
      </mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="{{'data:image/jpg;base64,' + post.images[0].image}}"*ngIf="post.images !=null">

    <mat-card-content>
      <p>{{ post.content }}</p>
      <p class="post-tag" *ngIf="post.tag">Tag: {{ post.tag }}</p>
    </mat-card-content>

    <mat-card-actions>
      <!-- Botão de editar -->
      <button
        mat-raised-button
        style="background-color: #1976D2; color: white; border-radius: 20px"
        *ngIf="permissionConfig.HAS_PERMISSION_UPDATE"
        (click)="editar(post)"
        aria-label="Editar">
        <mat-icon>edit</mat-icon>
      </button>

      <!-- Botão de deletar -->
      <button
        mat-raised-button
        style="background-color: #D32F2F; color: white; border-radius: 20px"
        *ngIf="permissionConfig.HAS_PERMISSION_DELETE"
        (click)="excluir(post)"
        aria-label="Deletar">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>


