<div class="add-post-button">
  <button mat-raised-button (click)="openAddPostDialog()">
    <mat-icon>add</mat-icon> Nova Postagem
  </button>
</div>

<div class="post-container">
  <mat-card class="post-card" *ngFor="let post of posts">
    <!-- Cabeçalho do Post -->
    <mat-card-header>
      <div>
        <mat-card-title>{{ post.title }}</mat-card-title>
        <mat-card-subtitle>
          {{ post.subtitle }} - Publicado em: {{ post.publicationDate | date: 'mediumDate' }}
        </mat-card-subtitle>
      </div>
    </mat-card-header>

    <!-- Imagem do Post -->
    <img mat-card-image *ngIf="post.images.length > 0"
         src="{{'data:image/jpg;base64,' + post.images[0].image}}"
         alt="Imagem do Post">

    <!-- Conteúdo do Post -->
    <mat-card-content>
      <p>{{ post.content }}</p>
      <span class="post-tag" *ngIf="post.tag">#{{ post.tag }}</span>
    </mat-card-content>

    <!-- Ações do Post -->
    <mat-card-actions>
      <button
        mat-raised-button
        aria-label="Editar"
        *ngIf="permissionConfig.HAS_PERMISSION_UPDATE"
        (click)="editar(post)">
        <mat-icon>edit</mat-icon> Editar
      </button>

      <button
        mat-raised-button
        aria-label="Deletar"
        *ngIf="permissionConfig.HAS_PERMISSION_DELETE"
        (click)="excluir(post)">
        <mat-icon>delete</mat-icon> Deletar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
