.sidenav-container {
  background-color: #167362;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sidenav-footer {
  position: fixed;
  bottom: 0;
  left: 10px;
  text-align: start;
}

.header-text {
  overflow: hidden;
  color: white; /* Cor do texto para a header-text */
  > h2 {
    margin: 0;
    text-align: start;
    line-height: 1.5rem;
  }

  > p {
    margin: 0;
    font-size: 0.8rem;
  }
}

.hide-header-text {
  opacity: 0;
  height: 0;
}

span {
  margin: 15px;
  color: white; /* Cor do texto para os itens do menu */
}
